; The default :optimizations :none doesn't produce a single JS file,
; without which Firefox fails to install the add-on properly.
; Of the other 3 options :whitespace,:simple and :advanced,
; :whitespace is the fastest to compile.
; So best to use it during dev and :advanced for production.
{:optimizations :advanced
 :infer-externs true
 :output-dir    "tmp"
 :output-to     "build/js/preferences.js"}